<!DOCTYPE html>
<html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>TableBeet &hearts; List of step</title>
    <!-- Modernizr -->
    <script src="./js/libs/modernizr-2.6.2.min.js"></script>
    <!-- jQuery -->
    <script type="text/javascript" src="./js/libs/jquery-1.8.2.min.js"></script>
    <!-- GroundworkCSS -->
    <link type="text/css" rel="stylesheet" href="./css/groundwork.css">
    <!--[if IE]>
        <link type="text/css" rel="stylesheet" href="./css/groundwork-ie.css">
        <![endif]-->
    <!--[if lt IE 9]>
        <script type="text/javascript" src="./js/libs/html5shiv.min.js"></script>
        <![endif]-->
    <!--[if IE 7]>
        <link type="text/css" rel="stylesheet" href="./css/font-awesome-ie7.min.css">
        <![endif]-->
    <script type="text/javascript">
      // fallback if SVG unsupported
      Modernizr.load({
      test: Modernizr.svg,
      nope: './css/no-svg.css'
      });
      // polyfill for HTML5 placeholders
      Modernizr.load({
      test: Modernizr.input.placeholder,
      nope: [
      './css/placeholder_polyfill.css',
      './js/libs/placeholder_polyfill.jquery.js'
      ]
      });
    </script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="align-left">
          <h1>TableBeet</h1>
        </div>
      </div>
    </header>
    <div class="container">

      <article class="row">
        <aside class="one fourth padded border-right">
          <ul class="list">
            <li>Scopes
              <ul>
                <% scopes.keys.each do |scope_name| %>
                <li><a href="#<%= ERB::Util.h(scope_name) %>"><%= ERB::Util.h(scope_name) %></a>
                <% end %>
              </ul>
            </li>
          </ul>
        </aside>
        <section class="three fourths padded">
          <h1><i class="icon-th-large"></i> Step list</h1>

          <% scopes.each do |scope, steps| %>
          <div class="row">
            <div class="padded">
              <h2><i class="icon-caret-right"></i> <a name="<%= ERB::Util.h(scope) %>"><%= ERB::Util.h(scope) %></a></h2>
            </div>
          </div>
          <table>
            <thead>
              <tr>
                <th>Step name</th>
                <td>Defined file (with line number)</td>
              </tr>
            </thead>
            <tbody>
              <% steps.each do |step| %>
              <tr>
                <th class="step_name"><%= ERB::Util.h(step.name) %></th>
                <td>
                  <p><a href="#modal-<%= step.id %>">
                      <%= ERB::Util.h(step.file) %>
                  </a></p>
                  <div id="modal-<%= step.id %>" class="modal">
                    <pre><code class="inline"><%= step.source %></code></pre>
                  </div>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <% end %>

        </section>
      </article>

      <footer class="footer align-center">
        <p>&copy; 2013 Wataru MIYAGUNI.</p>
      </footer>
    </div>
    <!-- scripts -->
    <script type="text/javascript" src="./js/plugins/jquery.orbit-1.4.0.js"></script>
    <script type="text/javascript" src="./js/groundwork.js"></script>
    <script type="text/javascript">
      $('th.step_name').each(function() {
          var decoration = $(this).text().replace(/(:[\w]+)/g, function() { return "<code>" + RegExp.$1 + "</code>"; });
          $(this).html(decoration);
      });
    </script>
  </body>
</html>
